{% extends 'base.html.twig' %}

{% block title %}
	Hello AccountController!
{% endblock %}

{% block body %}

	<style>

		.card-luxe {
			border: 1px solid rgb(217, 217, 217);
			border-radius: 10px;
			box-shadow: 0 0 0 rgb(248, 248, 248);
			background-color: whit;
			transition: box-shadow 0.2s ease-in-out;
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		&:hover {

			box-shadow: 0 4px 55px rgb(248, 248, 248);
		}
	</style>

	<div class="container  ">

		<div class="card mt-3 shadow-lg ">
			<h1 class=" p-3  text-light   rounded-2">


				<img style="max-width: 250px; " class="rounded-3 shadow-lg " src={{ vich_uploader_asset(app.user, 'imageFile') }}>


			</h1>


			<div class="card-body p-5 ">

				<h3 class="card-subtitle mb-2">
					{{ app.user.getFirstname ~" "~ app.user.getLastname }}
				</h3>
				<p class="card-text">
					{{ app.user.email }}
				</p>
				<p class="card-text">
					Account created on
					{{ app.user.createdAt|date }}
				</p>
				<p class="card-text">
					<a href={{path('app_account_edit')}} class="btn btn-dark rounded-0 p-3">Modifier le compte</a>

				</p>

			</div>

		</div>


		<div class=" p-5 mb-0  text-white bg-dark mt-5 shadow-xl rounded-2">
			<div class="row p-5">
				{% for video in app.user.videos %}
					<div class="col-md-4">
						<div class=" card-luxe shadow-xl  ">
							<div class="card-body  ">


								<div class="embed-responsive embed-responsive-16by9 rounded-3  mb-4 fw-bolder ">
									<iframe width="100%" height="100%" class="embed-responsive-item   " src="{{ video.videolink }}" allowfullscreen></iframe>
									<br>
									<br>

								</div>

								<h5 class="card-title p-4">
									<a class="h2 text-light mb-2 " href="{{ path('app_video_show', {'id': video.id}) }}">{{ video.title|u.truncate(25,'...',false) }}</a>
									<br>

									<p class="card-text text-light mt-5  fw-lighter ">{{ video.descripation |u.truncate(25,'...',false) }}

									</p>
									<p class="card-text text-light fw-lighter  ">By
										{{ video.user.getFirstname ~ " " ~ video.user.getLastname }}
										{{~"   |  "~ video.createdAt | ago }}</p>
									<br>
									<br>
									<strong>{{ video.isPremiumVideo ? '<i class="fas fa-solid fa-gem text-warning"></i> Premium' : '<i class="fas fa-check text-success"></i> Free' }}
									</strong>
								</p>
								<br>
								
										<a class="btn btn-outline-light rounded-1 p-3 " href="{{ path('app_video_show', {'id': video.id}) }}">Détails</a>
								
							</div>
						</div>

					</div>


				{% else %}
					<p>Désolé, pas encore d'épingles.</p>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
