{% extends 'base.html.twig' %}

{% block title %}Video index
{% endblock %}

{% block body %}
	<style>

		.card-luxe {
			border: 1px solid rgb(217, 217, 217);
			border-radius: 10px;
			box-shadow: 0 0 0 rgb(248, 248, 248);
			background-color: whit;
			transition: box-shadow 0.2s ease-in-out;
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		&:hover {

			box-shadow: 0 4px 55px rgb(248, 248, 248);
		}
	</style>

	{% if app.user %}


		<main class="text-center  mt-5 mb-5 fixed">
			<div class="p-5 rounded">
				<h1 class="text-light">Bienvenue sur Video Center</h1>
				<p class="lead text-light">Sur ce site touverez plusiers videos interessantes. Pour certaines
					<br>videos if faudra etre enregistre pour les voirs</p>
				<a href="{{ path('app_account') }}" class="btn btn-secondary p-3">Mon profil</a>
				<a href="/logout" class="btn btn-primary p-3">Se Déconnecter</a>
			</div>
		</main>


	{% else %}


		<main class="text-center  mt-5 mb-5 ">
			<div class="p-5 rounded">
				<h1 class="text-light">Bienvenue sur Video Center</h1>
				<p class="lead text-light">Sur ce site touverez plusiers videos interessantes. Pour certaines
					<br>videos if faudra etre enregistre pour les voirs</p>
				<a href="{{ path('app_register') }}" class="btn btn-secondary p-3">Créer un compte</a>
				<a href="{{ path('app_login') }}" class="btn btn-primary p-3">Se Connecter</a>
			</div>
		</main>


	{% endif %}
	<iframe width="100%" height="370px" class="embed-responsive-item  pl-5 pr-5 shadow-lg  mt-5 mb-5  " src="https://www.youtube.com/embed/BVwhUKufpOM" allowfullscreen></iframe>
	<div class=" p-3 mb-0  text-white  mt-5">
		<div class="row p-5">


			{% for video in paginator %}

				<div class="col-md-4  ">
					<div class=" card-luxe shadow-lg  ">
						<div class="card-body  ">


							<div class="embed-responsive embed-responsive-16by9 rounded-3  mb-4 fw-bolder ">
								<iframe width="100%" height="100%" class="embed-responsive-item   " src="{{ video.videolink }}" allowfullscreen></iframe>
								<br>
								<br>

							</div>

							<h5 class="card-title p-4">
								<a class="h2 text-light mb-2 ">{{ video.title|u.truncate(25,'...',false) }}</a>

								<p class="card-text text-light mt-5  fw-lighter ">{{ video.descripation |u.truncate(25,'...',false)  }}

								</p>
								<p class="card-text text-light fw-lighter  ">
									{{~" "~ video.createdAt | ago ~" |   "~}}

									<strong>
										By
										{{ video.user.getFirstname ~ " " ~ video.user.getLastname ~" |   "~}}</strong>

									<br>
									<br>
									<strong>{{ video.isPremiumVideo ? '<i class="fas fa-solid fa-gem text-warning"></i> Premium' : '<i class="fas fa-check text-success"></i> Free' }}
									</strong>
								</p>
								<br>
								{% if app.user %}
									{% if app.user.isVerified %}
										<a class="btn btn-dark rounded-1 p-3 " href="{{ path('app_video_show', {'id': video.id}) }}">Détails</a>
									{% endif %}
								{% endif %}
							</div>
						</div>

					</div>

				{% else %}
					<div class="col">
						<p>Aucun enregistrement trouvé.</p>
					</div>

				{% endfor %}
				<div class="">
					{{ knp_pagination_render(paginator) }}
				</div>
			</div>

		{% endblock %}
